<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--school模块声明-->

    <bean id="shyschool" class="shy.zhishi6.School">
        <property name="name" value="王"/>
        <property name="address" value="瑞"/>
    </bean>


</beans>